.start-exam {
  min-height: 80vh;
  width: 100%;

  .option-button {
    background-color: #ffffff;
    border: 1px solid #00de83;
    padding: 0.5rem 0;
    border-radius: 25rem;
    font-size: 2rem;
    color: #000000;
  }

  .option-button:hover {
    background: linear-gradient(180deg, #00de85 0%, #057548 115.74%);
    color: #000000;
  }

  .option-button::selection {
    background: linear-gradient(180deg, #00de85 0%, #057548 115.74%);
    color: #000000;
  }

  .proceed {
    background-color: #00de83;
    border: none;
    padding: 0.5rem 0;
    border-radius: 25rem;
    font-size: 2rem;
    color: #000000;
  }

  .proceed:hover {
    background: linear-gradient(180deg, #00de85 0%, #057548 115.74%);
    color: #000000;
  }

  .input-text {
    border: none;
    border-bottom: 1px solid #00de83;
  }

  .input-text:hover {
    border: 1px solid #00de83;
  }

  .header,
  .footer {
    background-color: #0f0e0f;
  }

  .title {
    top: 0;
    right: 0;
    z-index: 1000;
  }
}
